.dialog-body {
    display: inline-block;
    width: 100%;
    min-height: 300px;
}

.form-field {
    width: 100%;
}

.name-input {
    padding-left: 10px;
    width: 100%;
}

.value-text {
    font-size: 13px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.color-picker-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-btn {
    width: 100%;
}

.style-selector {
    display: inline-block;
    width: 100%;
    background-color: #3e3e3e;
    color: #fff;
    margin-top: 10px;
}

.style-selector .selector-name {
    display: inline-block;
    padding: 10px;
}

.style-selector .selector-btns {
    float: right;
}

.left-arrow {
    font-size: 35px;
}