<h3 mat-dialog-title>New Color</h3>

<mat-dialog-content>
    <div class="dialog-body">
        <mat-tab-group>
            <mat-tab label="Info">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="row mt-4">
                                <div class="col-10">
                                    <mat-form-field appearance="fill" class="form-field" floatLabel="always">
                                        <mat-label>Name</mat-label>
                                        <input matInput class="name-input" [(ngModel)]="model.name">
                                    </mat-form-field>
                                </div>
                                <div class="col-2 color-picker-container">
                                    <div class="text-center">
                                        <div class="value-text">Value</div>
                                        <input type="color" [(ngModel)]="model.value">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="fill" class="form-field" floatLabel="always">
                                <mat-label>Description(optional)</mat-label>
                                <textarea matInput class="description-input" [(ngModel)]="model.description"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <button class="mat-raised-button mat-primary save-btn" (click)="save()">Save</button>
                </div>
            </mat-tab>
            <mat-tab label="CSS">
                <div class="container">
                    <ng-container *ngIf="!currentStyle">
                        <div class="mt-4">
                            <div *ngFor="let style of model.styles" class="style-selector">
                                <div class="selector-name">{{style.selector}}</div>
                                <div class="selector-btns">
                                    <button mat-icon-button (click)="editSelector(style)">
                                        <mat-icon>edit_note</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="deleteStyle(style)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <button class="mat-raised-button mat-primary save-btn mt-2" (click)="addNewSelector()">Add
                            Selector
                        </button>
                    </ng-container>

                    <ng-container *ngIf="currentStyle && !currentParam">
                        <button class="mat-button mt-3" (click)="cancelNewStyle()">
                            <mat-icon class="align-middle left-arrow" color="primary" [inline]="true">navigate_before
                            </mat-icon>
                            New Selector
                        </button>
                        <div class="mt-4">
                            <mat-form-field appearance="fill" class="form-field" floatLabel="always">
                                <mat-label>Name</mat-label>
                                <input matInput class="name-input" [(ngModel)]="currentStyle!.selector">
                            </mat-form-field>

                        </div>
                        <div class="mt-4">
                            <div *ngFor="let param of currentStyle.params" class="style-selector">
                                <div class="selector-name">{{param.key}}</div>
                                <div class="selector-btns">
                                    <button mat-icon-button (click)="editParam(param)">
                                        <mat-icon>edit_note</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="deleteParam(param)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <button class="mat-raised-button mat-primary save-btn mt-2" (click)="addNewParam()">Add
                        </button>

                        <button class="mat-raised-button mat-primary save-btn mt-2" (click)="saveSelector()">Save
                        </button>
                    </ng-container>

                    <ng-container *ngIf="currentStyle && currentParam">
                        <button class="mat-button mt-3" (click)="cancelNewParam()">
                            <mat-icon class="align-middle left-arrow" color="primary" [inline]="true">navigate_before
                            </mat-icon>
                            New Param
                        </button>
                        <div class="mt-4">
                            <mat-form-field appearance="fill" class="form-field" floatLabel="always">
                                <mat-label>Property</mat-label>
                                <input matInput class="name-input" [(ngModel)]="currentParam!.key">
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="form-field" floatLabel="always">
                                <mat-label>Value</mat-label>
                                <input matInput class="name-input" [(ngModel)]="currentParam!.value">
                            </mat-form-field>

                        </div>

                        <button class="mat-raised-button mat-primary save-btn mt-2" (click)="saveParam()">Save
                        </button>
                    </ng-container>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-dialog-content>

<!-- <mat-dialog-actions>
    <button class="mat-raised-button mat-primary save-btn" (click)="save()">Save</button>
</mat-dialog-actions> -->