<div class="container">
    <mat-accordion>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            info
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Name</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Slug</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Version</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Colors
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="color-flex-pnl">
                        <div>
                            <mat-card *ngFor="let c of model.colors|keyvalue" class="flex-inner">
                                <div>
                                    <div class="color-sample" [style.backgroundColor]="getValueOfColor(c.value)"></div>
                                    <div class="color-name">{{c.key}}</div>
                                </div>

                                <mat-card-actions>
                                    <button mat-icon-button color="primary">
                                        <mat-icon>edit_note</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="deleteColor(c.key+'')">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-actions>


                            </mat-card>
                        </div>
                        <!-- <div class="flex-inner">
                            <mat-card>
                                <div>
                                    <div class="color-sample"></div>
                                    <div class="color-name">secondary</div>
                                </div>

                                <mat-card-actions>
                                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                        <mat-icon>edit_note</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-actions>


                            </mat-card>
                        </div> -->
                        <div class="flex-inner">
                            <button mat-raised-button color="primary" class="add-color-btn" (click)="openColorDialog()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>

                    </div>




                </mat-expansion-panel>
            </div>
        </div>
    </mat-accordion>
</div>