.color-flex-pnl {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flex-inner {
    display: inline-block;
    margin: 5px;
}

.mat-card {
    background-color: #3e3e3e;
    color: white;
    width: 150px;
    min-height: 95px;
    padding-bottom: 0;
}

.mat-card .mat-icon {
    color: white;
}

.color-sample {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    /* background-color: red; */
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.color-name {
    display: inline-block;
}

.add-color-btn {
    width: 150px;
    height: 95px;
}